<template>
  <section>
    <b-input-group>
      <b-form-input v-model="input.text" />
      <b-input-group-append>
        <b-button variant="success" @click="add">Add</b-button>
      </b-input-group-append>
    </b-input-group>
  </section>
</template>

<script>
export default {
  name: 'TodoInput',
  inject: ['todo'],
  data() {
    return {
      input: this.todo.input,
    };
  },
  methods: {
    add() {
      this.todo.submit();
    },
  },
};
</script>

<style scoped>

</style>
