<template>
  <section>
    <b-list-group>
      <b-list-group-item v-for="item in items" :key="item.id">
        <span class="float-left" :class="classes(item)">
          {{ item.text }}
        </span>
        <b-button class="float-right" variant="danger" size="sm" @click="remove(item)">
          Remove
        </b-button>
        <b-button class="float-right" variant="primary" size="sm" @click="done(item)">
          Done
        </b-button>
      </b-list-group-item>
    </b-list-group>
  </section>
</template>

<script>
export default {
  name: 'TodoList',
  props: ['items'],
  inject: ['todo'],
  methods: {
    /**
     * @param {Todo} item
     */
    done(item) {
      this.todo.done(item.id);
    },

    /**
     * @param {Todo} item
     */
    remove(item) {
      this.todo.remove(item.id);
    },

    /**
     * @param {Todo} item
     */
    classes(item) {
      return { done: item.isDone };
    },
  },
};
</script>

<style scoped>
.done {
  text-decoration: line-through;
}
</style>
