<template>
  <b-container>
    <section class="block">
      <todo-input />
    </section>
    <section class="block">
      <b-tabs>
        <b-tab title="All" active @click="showAll"></b-tab>
        <b-tab title="Undone" @click="showUndone"></b-tab>
      </b-tabs>
      <todo-list :items="items.list" />
    </section>
  </b-container>
</template>

<script>
import TodoList from '@/components/todo/TodoList.vue';
import TodoInput from '@/components/todo/TodoInput.vue';

export default {
  name: 'TodoApp',
  components: { TodoInput, TodoList },
  inject: ['todo'],
  data() {
    return {
      items: this.todo,
    };
  },
  methods: {
    showAll() {
      this.todo.showAll();
    },
    showUndone() {
      this.todo.showUndone();
    },
  },
};
</script>

<style scoped>
.block {
  padding-top: 1rem;
}
</style>
