<template>
  <div id="app">
    <todo-app />
  </div>
</template>

<script>
import TodoApp from '@/components/todo/TodoApp.vue';
import { TodoApp as TodoAppViewModel } from '@/view-models/todo';

export default {
  name: 'App',
  components: { TodoApp },
  provide() {
    return {
      todo: new TodoAppViewModel(),
    };
  },
};
</script>

<style lang="scss">
#app {
}
</style>
